
//--------------------------------------
// Base Styles
//--------------------------------------

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

//--------------------------------------
// Da' Body
//--------------------------------------

body {}

//--------------------------------------
// Colors
//--------------------------------------

$green: #33a55d;
$greyLight: #929496;
$greyMedium: #4e4f59;
$greyDark: #252525;
$tan: #d4d4d2;

//--------------------------------------
// Mixins
//--------------------------------------

// Button

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}

// Bottom Shadow

@mixin bottomShadow {
    &:after {
        content: "";
        width: 100%;
        height: 42px;
        position: absolute;
        bottom: -42px;
        left: 0;
        background: url(../images/bottomShadow.png) center top no-repeat;
    }
}

// Clearfix

@mixin clearfix {
    &:before, &:after {
        content: "";
        width: 100%;
        display: table;
        clear: both;
    }
}

//--------------------------------------
// Fonts
//--------------------------------------

@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700);

$paragraph: 'Lora', serif;
$header: 'Ubuntu', sans-serif;

a { text-decoration: none; }

p {
	font-family: $paragraph;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 { font-family: $header; }
