
//--------------------------------------
// Base Styles
//--------------------------------------

//--------------------------------------
// Da' Body
//--------------------------------------

body {}

//--------------------------------------
// Color's
//--------------------------------------

$green: #33a55d;
$greyLight: #929496;
$greyMedium: #4e4f59;
$greyDark: #252525;

//--------------------------------------
// Font's
//--------------------------------------

@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700);

$paragraph: 'Lora', serif;
$header: 'Ubuntu', sans-serif;

a { text-decoration: none; }

p {
	font-family: $paragraph;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 { font-family: $header; }