
//--------------------------------------
// Layouts
//--------------------------------------

.vList > * { display:inline-block; }

//--------------------------------------
// Container
//--------------------------------------

.container {
	max-width: 960px;
	margin: auto;
	@include clearfix;
}

.blocks {
	overflow: hidden;
	margin-left: -2%;
	list-style: none;
}

.blocks > * { float: left; }

.blocks_2up > * {
	width: 48%;
	margin-left: 2%;
}

.blocks_3up > * {
	width: 33.33%;
	margin-left: 2%;
}

.blocks_4up > * {
	width: 23%;
	margin-left: 2%;
}