
//--------------------------------------
// Layouts
//--------------------------------------

//--------------------------------------
// Container
//--------------------------------------

.container {
	max-width: 960px;
	margin: auto;
	overflow: hidden;
}

.blocks {
	float:left;
	overflow: hidden;
	margin-left: -2%;
}

.blocks_2up > * {
	width: 48%;
	margin-left: 2%;
}

.blocks_3up > * {
	width: 33.33%;
	margin-left: 2%;
}