
//--------------------------------------
// Modules
//--------------------------------------

//--------------------------------------
// Global Stuff
//--------------------------------------

.glb { overflow: hidden; }

.glb-footer {}

//--------------------------------------
// Box
//--------------------------------------

.box { padding: 50px 0; }

//--------------------------------------
// Hdg's
//--------------------------------------

.hdg { font-family: $header; }