
//--------------------------------------
// Modules
//--------------------------------------

//--------------------------------------
// Global Stuff
//--------------------------------------

.glb { overflow: hidden; }

.glb-footer { background: url(../images/footer.jpg); }
.glb-footer-col { float: left; }
.glb-footer-col + .glb-footer-col { float: right; }
.glb-footer-col_left { width: 555px; }
.glb-footer-col_right { width: 260px; }

//--------------------------------------
// Box
//--------------------------------------

.box {
	padding: 50px 0;
	overflow: hidden;
}

//--------------------------------------
// Hdg's
//--------------------------------------

.hdgWrap {
	padding-bottom: 20px;
}

.hdg {
	color: $green;
	font-family: $header;
}

.hdg_dark { color: $greyMedium; }
.hdg_1 { font-size: 32px; }
.hdg_2 { font-size: 28px; }
.hdg_3 { font-size: 18px; }

//--------------------------------------
// Testimonials
//--------------------------------------

.testimonials-hd { padding-bottom: 27px; }

.testimonials-bd > * {
	color: #d4d4d2;
	font-size: 18px;
	line-height: 1.4;
}

.testimonials-ft { padding-top: 30px; }

.testimonials-ft > * {
	color: #bfb2a0;
	font-size: 18px;
	font-weight: bold;
}

//--------------------------------------
// Misc. States
//--------------------------------------

.visually-hidden {
	position: absolute;
  	clip: rect(0, 0, 0, 0);
}
// Slider
//--------------------------------------

.slider {
	max-width: 960px;
	margin: auto;
	position: relative;
	overflow: hidden;
}

.slider-inner {
	float: left;
	transition: all .5s ease-in-out;
}

.slider-slide {
	float: left;
	display: block;
	position: relative;
}

.slider-slide_1of4 { width: 25%; }

.slider-slide img {
	width: 100%;
	display: block;
}

.slider-cntrls {
	width: 100%;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	left: 0;
	background: red;
	text-align: center;
}

.slider-cntrl {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin: 0 5px;
	border-radius: 50%;
	background: black;
}

.slider-cntrl_isActive { background: blue; }

.slider-capt {
	padding: 15px;
	position: absolute;
	top: 60px;
	right: 0px;
	z-index: 1;
}